In [244]:
import math
import pandas as pd
from datetime import datetime, timedelta

df = pd.read_csv("Data.csv")
df.head()

,Customer ID,X,Y,Demand (pounds),Service-time,Time-window(start; h:m),Time-window(end; h:m),Can this demand be split
0,1,28.94,-48.28,2500,0:05,2:07,2:52,Y
1,2,-28.67,85.14,3250,0:09,13:54,14:13,N
2,3,-46.25,41.73,5500,0:02,19:28,19:47,N
3,4,-74.61,91.51,15500,0:10,21:29,21:52,Y
4,5,-70.26,-76.22,1500,0:03,3:41,4:13,N

In [140]:
for index, row in df.iterrows():
    print(row)
    break

Customer ID                     1
X                           28.94
Y                          -48.28
Demand (pounds)              2500
Service-time                 0:05
Time-window(start; h:m)      2:07
Time-window(end; h:m)        2:52
Can this demand be split        Y
Name: 0, dtype: object

In [234]:
sol = pd.read_csv("solution/team1-part2.csv").fillna(0)
sol.head()

   truck  stop  offload  start
0      1     0      0.0      0
1      1    29   5000.0   9:11
2      1    25   5000.0  10:54
3      1     7  10000.0  12:06
4      1     0      0.0      0

In [235]:
for i, row in sol.groupby('truck'):
    r =row
    print(r)
    break

   truck  stop  offload  start
0      1     0      0.0      0
1      1    29   5000.0   9:11
2      1    25   5000.0  10:54
3      1     7  10000.0  12:06
4      1     0      0.0      0

In [256]:
t = [datetime.strptime(i, "%H:%M").time() for i in r['start'].tolist()[1:-1]]

In [257]:
t[0]

datetime.time(9, 11)

In [259]:
t0 = datetime(
        2000, 1, 1,
        hour=t[0].hour, minute=t[0].minute, second=t[0].second)

In [260]:
td = timedelta(hours=t[1].hour, minutes=t[1].minute)
td

datetime.timedelta(seconds=39240)

In [263]:
t1 = t0-td
t1<t0

True

In [271]:
def near_zero(num):
    return abs(num) < 1e-6

def dateit(s):
    time = datetime.strptime(s, "%H:%M").time()
    return datetime(2000, 1, 1, hour=time.hour, minute=time.minute, second=time.second)

In [288]:
class Customer:
    def __init__(self, cid, row):
        self._id = cid
        self._name = str(row["Customer ID"])
        self._x = float(row["X"])
        self._y = float(row["Y"])
        self._demand = float(row["Demand (pounds)"])
        time = datetime.strptime(row["Service-time"], "%H:%M").time()
        self._service_time = timedelta(hours=time.hour, minutes=time.minute)
        # self._service_start = datetime.strptime(row["Time-window(start; h:m)"], "%H:%M").time()
        self._service_end = dateit(row["Time-window(end; h:m)"])
        self._latest_start = self._service_end - self._service_time
        self._splitable = True if row["Can this demand be split"] == "Y" else False
        self._served = 0.0
        self._visited_trucks = []
    
    def serve(self, load, tname):
        self._served += load
        self._visited_trucks.append(tname)
        
    def check_served(self):
        return near_zero(self._served - self._demand)
        
    def reset(self):
        self._served = 0
        self._visited_trucks = []
        
    def __str__(self):
        return (
            f"Customer(name={self._name}, "
            f"demand={self._demand}, "
            f"served={self._served}, "
            f"trucks={self._visited_trucks})"
        )


class Truck:
    def __init__(self, idx, row):
        self._id = idx
        self._name = str(row['truck'].tolist()[0])
        self._capacity = 20000
        self._distance = 0
        self._stops = [str(i) for i in row['stop'].tolist()]
        self._offloads = row['offload'].tolist()
        self._starts = [dateit(i) for i in row['start'].tolist() if i != 0]
        self._desc = f"Truck {self._name}:\n"
        self._total_load = sum(self._offloads)
        # sanity checks
        self.check_capacity()
        self.check_depot()
        self.check_no_repeat_customer()
        
    def check_capacity(self):
        if self._total_load > self._capacity:
            self._desc += f"Overloaded: {self._total_load}\n"
            
    def check_depot(self):
        if self._stops[0] == self._stops[-1]:
            self._depot = self._stops[0]
        else:
            self._desc += f"Didn't return to depot: {self._stops[0]}-{self._stops[-1]}\n"
            
    def check_no_repeat_customer(self):
        dup = set()
        seen = set()
        for c in self._stops[1:-1]:
            if c in seen:
                dup.add(c)
            seen.add(c)
        if len(dup) > 0:
            self._desc += f"Visited {dup} more than once!\n"
        
    def set_distance(self, distance):
        self._distance = distance
        
    def __str__(self):
        if self._desc == f"Truck {self._name}:\n":
            return ""
        else:
            return self._desc

    
class Data:
    def __init__(self, file):
        self.customers = []
        self.customerID = {}
        self.read(file)
        
        self.trucks = []
        self.depot1 = [0, 0]
        self.depot2 = [-50, 50]
        self.depot3 = [50, -50]
        
        self.cost = 0
        self.truck_rent = 200
        self.gas_price = 3
        
        self.report = ""
        
    def read(self, file):
        df = pd.read_csv(file)
        for i, row in df.iterrows():
            customer= Customer(i, row)
            self.customers.append(customer)
            self.customerID[customer._name] = customer._id
                                                
    def read_solution(self, solution_file, part):
        """
        Calculate the total cost
        """
        self.reset()
        self.sol = pd.read_csv(solution_file).fillna(0)
        self.report += f"\nPart {part}:\n"
        self.verify_basic()
        if part > 1:
            self.verify_time()
        self.report += f"Total cost = {self.cost}\n"
        
    def verify_basic(self):
        """
        Verify all customers demands are satisfied
        Verify all trucks are within capacity
        Verify total trucks number (<=20)
        """
        for i, row in self.sol.groupby('truck'):
            truck = Truck(i, row)
            self.trucks.append(truck)
            if truck.__str__() != "":
                self.report += truck.__str__()
        
        if len(self.trucks) > 20:
            self.report += f"Too many trucks: {len(self.trucks)}"
    
        for truck in self.trucks:
            self.calc_distance(truck)
            self.cost += self.truck_rent
            self.cost += truck._distance * self.gas_price
            for i, cname in enumerate(truck._stops):
                if cname in self.customerID.keys():
                    self.customers[self.customerID[cname]].serve(truck._offloads[i], truck._name)
            
        for c in self.customers:
            if not c.check_served():
                self.report += f"Customer {c._name}'s demand not satisfied (unsatisfied={c._demand - c._served})\n"
    
    def verify_time(self):
        """
        Verify all customers are timely served
        Verify trucks are able to make the tour constrained by time
        """
        for truck in self.trucks:
            for i, start in enumerate(truck._starts):
                c = self.customers[self.customerID[truck._stops[i+1]]]
                if start > c._latest_start:
                    self.report += f"Truck {truck._name} served customer {c._name} too late: {start}\n"
                if i > 0:
                    last_c = self.customers[self.customerID[truck._stops[i]]]
                    if start < truck._starts[i-1] + last_c._service_time + timedelta(minutes=self.distance_between(c._name, last_c._name)):
                        self.report += f"Truck {truck._name} can't make it to customer {c._name} on assumed time\n"                
    
    def reset(self):
        for c in self.customers:
            c.reset()
        self.trucks = []
        self.cost = 0
            
    def calc_distance(self, truck):
        d = 0
        for i, cid in enumerate(truck._stops):
            if i > 0:
                d += self.distance_between(cid, last)
                last = cid
            else:
                last = cid
        truck.set_distance(d)
        
    def distance_between(self, cname1, cname2):
        x1, y1 = self.get_coord(cname1)
        x2, y2 = self.get_coord(cname2)
        return math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
    
    def get_coord(self, cname):
        if cname in self.customerID.keys():
            c = self.customers[self.customerID[cname]]
            return c._x, c._y
        elif cname == '0':
            return self.depot1
        elif cname == '-1':
            return self.depot2
        elif cname == '-2':
            return self.depot3
        
    def __str__(self):
        return self.report

In [289]:
d = Data("Data.csv")
d.read_solution("solution/team1-part1.csv", part=1)
d.read_solution("solution/team1-part2.csv", part=2)
print(d)

Part 1:
Customer 4's demand not satisfied (unsatisfied=11500.0)
Customer 6's demand not satisfied (unsatisfied=-11000.0)
Customer 8's demand not satisfied (unsatisfied=7950.0)
Customer 9's demand not satisfied (unsatisfied=-4000.0)
Customer 10's demand not satisfied (unsatisfied=-12000.0)
Customer 13's demand not satisfied (unsatisfied=4000.0)
Customer 14's demand not satisfied (unsatisfied=4000.0)
Customer 15's demand not satisfied (unsatisfied=-8000.0)
Customer 18's demand not satisfied (unsatisfied=12000.0)
Customer 19's demand not satisfied (unsatisfied=12000.0)
Customer 25's demand not satisfied (unsatisfied=10250.0)
Customer 26's demand not satisfied (unsatisfied=17800.0)
Customer 29's demand not satisfied (unsatisfied=6000.0)
Customer 32's demand not satisfied (unsatisfied=11000.0)
Customer 35's demand not satisfied (unsatisfied=-12000.0)
Customer 36's demand not satisfied (unsatisfied=-4000.0)
Customer 38's demand not satisfied (unsatisfied=14750.0)
Customer 40's demand not satisfied (unsatisfied=11000.0)
Customer 42's demand not satisfied (unsatisfied=12000.0)
Customer 43's demand not satisfied (unsatisfied=8000.0)
Customer 47's demand not satisfied (unsatisfied=32000.0)
Customer 49's demand not satisfied (unsatisfied=4000.0)
Total cost = 13557.082915226238

Part 2:
Customer 2's demand not satisfied (unsatisfied=-2500.0)
Customer 4's demand not satisfied (unsatisfied=-2750.0)
Customer 7's demand not satisfied (unsatisfied=-9250.0)
Customer 8's demand not satisfied (unsatisfied=5000.0)
Customer 13's demand not satisfied (unsatisfied=1250.0)
Customer 18's demand not satisfied (unsatisfied=8250.0)
Customer 19's demand not satisfied (unsatisfied=9750.0)
Customer 20's demand not satisfied (unsatisfied=-5000.0)
Customer 25's demand not satisfied (unsatisfied=9250.0)
Customer 26's demand not satisfied (unsatisfied=20000.0)
Customer 28's demand not satisfied (unsatisfied=-5000.0)
Customer 29's demand not satisfied (unsatisfied=5000.0)
Customer 31's demand not satisfied (unsatisfied=-5000.0)
Customer 32's demand not satisfied (unsatisfied=10000.0)
Customer 33's demand not satisfied (unsatisfied=-8250.0)
Customer 36's demand not satisfied (unsatisfied=-10000.0)
Customer 38's demand not satisfied (unsatisfied=10000.0)
Customer 40's demand not satisfied (unsatisfied=10000.0)
Customer 42's demand not satisfied (unsatisfied=8250.0)
Customer 43's demand not satisfied (unsatisfied=3250.0)
Customer 45's demand not satisfied (unsatisfied=-5000.0)
Customer 47's demand not satisfied (unsatisfied=25000.0)
Customer 48's demand not satisfied (unsatisfied=-5000.0)
Customer 49's demand not satisfied (unsatisfied=2500.0)
Truck 7 can't make it to customer 5 on assumed time
Truck 21 can't make it to customer 49 on assumed time
Total cost = 14110.057038178036

In [224]:
print(d.customers[3])

Customer(name=4, demand=15500.0, served=4000.0, trucks=['1'])

In [164]:
a= [0,2,3,4,0]
a[1:-1]

[2, 3, 4]

In [51]:
r['truck'].tolist()[0]

1

In [49]:
sum(r['offload'].tolist())

7250.0

In [293]:
108-60

48

In [291]:
math.sqrt((28.94 +70.26)**2 + (-48.28 + 76.22)**2)

103.05961187584592